@charset "utf-8";

/* Styles for header  */
#text_header {
	color: #FFFFFF;
	font-weight: 550;
	justify-self: auto;
	font-size: 1.5rem;
	letter-spacing: 1px;
}

/* Animation for cursor  */
@keyframes blink {
	from, to { 
		background-color: transparent 
	}
	50% { 
		background-color: white; 
	}
}

/* Styles for cursor */
#cursor {
	justify-self: start;
    vertical-align: top;
    width: 4px;
    height: 40px;
    animation: blink .50s step-end infinite;
}

/* Section for animation (not the cursor itself) */
#blinkingCursor {
	display: flex;
	justify-content: center;
  margin-top: 5%;
}

/* Nav Link */
.home {
	color: lime;
}

#upcomingEvents, #pastEvents {
  max-height: 200px;
  overflow-y: auto;
  padding: 5px;
	scrollbar-width: none;
}

#settingsOverlay {
	display: none;
	flex-direction: column;
	background: rgb(52, 51, 51);
	border-radius: 2%;
	position: fixed;
	justify-self: center;
	width: 50vw;
	height: 75vh;
	z-index: 999;
	padding-bottom: 10%;
}