body {
	height: 100vh;
	width: 100vw;
	overflow: hidden;
	background-color: #111111;
}

#navbar {
	margin-top: 6px ;
	color: #FFFFFF;
	font-size: x-large ;
	font-weight: bolder ;
}

a {
	text-decoration: none;
	color: #FFFFFF;	
}

/* Nav Link Effects */
a.navlink {
	text-decoration: none;
	border-radius: 9999px;
	padding-left: 50px;
	padding-right: 50px;
}

a.navlink:hover {
	color: #32CD32;
	background-color: #0f0f0f;
}

/* Hovering Animation */
hover-underline-animation {
	display: inline-block;
	position: relative;
}

.hover-underline-animation::after {
	content: '';
	position: absolute;
	width: 100%;
	transform: scaleX(0);
	height: 2px;
	bottom: 0;
	left: 0;
	background-color: #15D8D8;
	transform-origin: bottom right;
	transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover::after {
	transform: scaleX(1);
	transform-origin: bottom left;
}


/* Next Page Button */
.next_page {
	display: flex;
	justify-content: center;
	padding-top: 2%;
}

#next_button {
	height: 5%;
	width: 12%;
	border-radius: 5%;
	background-color: #5126D2;
	box-shadow: 3px 3px #3203be;
	transition: width 0.5s;
}

#next_button:hover {
	width: 6%;
}

#upcomingEventsContainer {
	display: flex;
	flex-wrap: wrap;
  flex-direction: column;
	align-content: center;
  align-items: flex-start;
	font-weight: bolder;
	font-size: 20px;
}

.events-container {
  overflow-y: auto;  /* scroll if content exceeds container */
	padding-top: 2.5%;
	color: white;
	font-weight: 800;
	font-size: 10px;
}

.event-item {
	font-family: 'Courier New', Courier, monospace;
  padding: 10px;
  margin-bottom: 10px;
	color: white;
}

.stars {
	z-index: -1;
  animation: twinkle var(--duration, 2s) infinite ease-in-out;
}

@keyframes twinkle {
  0%, 100% {opacity: 1;}
  50% {opacity: 0.05;}
}
